.footerContainer {
  background-color: #1c3b1f;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.imgContainer {
  display: flex;
  padding-left: 7vh;
}

.logoImg {
    width: 18vh;
}

.footerTitleContainer{
    margin-right: 5vh;
}

.footerTitle{
    color: #f5f1e8;
    font-weight: 700;
}