
.navContainer{
    background-color: #1c3b1f !important;
}

.navLink{
    font-size: 20px;
    margin: 0 10px;
    font-weight: 700;
    transition: transform 0.2s ease-in !important;
}

.navLink:hover{
    color: #f0f0f0 !important;
    transform: scale(1.1);
    color: #d89c56!important;
}

.imgNav{
  transition: transform 0.2s ease-in !important;
}

.imgNav:hover{
    transform: scale(1.1);
}

.navbar-toggler {
  border: 2px solid #d89c56 !important; 
  
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23d89c56' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}